@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your information is stored in our system in the most secure way. <br /> By signing up you are granting up permission to store your data and only share with responsible parties whose goal is that you have a great experience while using Bug Tracker.</p>
